@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply overflow-x-hidden;
  @apply font-sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
